/** {
  box-sizing: border-box;
}*/

hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
          margin-top: 20px;
          margin-bottom: 20px;
          border: 0;
          border-top: 1px solid #eee;
}

header {
  height:114px;
  background-color: grey;
  color: #FEFEFE;
  margin-bottom:20px;
  padding:10px;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.45);
  -moz-box-shadow:    0px 1px 10px 0px rgba(50, 50, 50, 0.45);
  box-shadow:         0px 1px 10px 0px rgba(50, 50, 50, 0.45);
}

.section {
  padding: 4em 0;
}

/*div, ul, li {
  margin:10px;
  padding:10px;
}*/

.card {
  padding:10px 20px 10px 20px;
  -webkit-box-shadow: 2px 1px 4px 1px rgba(25, 25, 25, 0.25);
  -moz-box-shadow:    2px 1px 4px 1px rgba(25, 25, 25, 0.25);
  box-shadow:         2px 1px 4px 1px rgba(25, 25, 25, 0.25);
}

.rounded-corners {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.rounded-corners-xl {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
}

.text-muted {
  color:grey;
}