* {
  box-sizing: border-box;
}

header {
  height:114px;
  background-color: grey;
  color: #FEFEFE;
  margin-bottom:20px;
  padding:10px;
}

div, ul, li {
  margin:10px;
  padding:10px;
}

.card {
  
}
